<h1>Lista de productos</h1>

{{#if products}}
    <ul>
        {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}}
        </li>
        {{/each}}
    </ul>
 {{else}}
    <p>No hay productos disponibles</p>
{{/if}}

<a href="/products/start">
    <button>Entrar a la tienda 🛒</button>
</a>