<h1>Productos en tiempo real</h1>

<form id="productForm">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="number" name="price" placeholder="Precio" required />
  <button type="submit">Agregar</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/realtime.js"></script>
